@use "./vars" as *;

body {
  background-color: $bg;
  font-family: $font;
  color: $fg;
  margin: 0;
  font-size: $font-size;
}

.center {
  position: absolute;

  min-width: 320px;
  max-width: 480px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: $padding;
  padding-top: $top-padding;

  background-color: $bg-0;
}

select {
  outline: none;
  border-radius: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: $bg-0-soft;
  height: 44px;
  border: $module-border solid $fg-1;
}

h1 {
  font-size: $header-size;
  margin: 0;
}

button {
  all: unset;
  background-color: $bg-0-soft;
  height: 44px;
  // padding-top: $small-padding;
  // padding-bottom: $small-padding;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

button:focus {
  outline: $focus-outline;
}

button.upload {
  border: $module-border solid $fg-1;
}

::placeholder {
  color: $bg-4;
  opacity: 1;
}

textarea {
  all: unset;
  resize: vertical;
  background-color: $bg-0-soft;
  padding: $small-padding;
  box-sizing: border-box;
  font-size: $font-size;
}

textarea:focus {
  outline: $focus-outline;
}

textarea:disabled {
  opacity: $disabled-opacity;
  cursor: default;
}

input:disabled {
  opacity: $disabled-opacity;
  cursor: default;
}

input {
  all: unset;
  background-color: $bg-0-soft;
  border: $module-border solid $fg-1;
  height: 33px;
  padding-left: $small-padding;
  box-sizing: border-box;
  width: 100%;
}

input[type="password"] {
  letter-spacing: 5px;
  font-size: $password-font-size;
}

input[type="password"]:focus {
  outline: $focus-outline;
}

.switch:focus {
  outline: $focus-outline;
}
