@use "./vars" as *;

body {
  background-color: $bg;
  font-family: $font;
  color: $fg;
  margin: 0;
  font-size: $font-size;
}

.center {
  position: absolute;

  min-width: 320px;
  max-width: 480px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: $padding;
  padding-top: $top-padding;

  background-color: $bg-0;
}

select {
  outline: none;
  border-radius: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: $bg-0-soft;
  height: 44px;
  border: $module-border solid $fg-1;
}

h1 {
  font-size: $header-size;
  margin: 0;
}

button {
  all: unset;
  background-color: $bg-0-soft;
  height: 44px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

button:disabled {
  opacity: $disabled-opacity;
}

button:focus {
  outline: $focus-outline;
}

button.upload {
  border: $module-border solid $fg-1;
}

button.old {
  background-color: transparent;
  height: unset;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

button.old.cancel {
  color: $fg-1;
}

button.old.submit {
  color: $fg;
}

::placeholder {
  color: $bg-4;
  opacity: 1;
}

textarea {
  all: unset;
  resize: vertical;
  background-color: $bg-0-soft;
  padding: $small-padding;
  box-sizing: border-box;
  font-size: $font-size;
}

textarea:focus {
  outline: $focus-outline;
}

textarea:disabled {
  opacity: $disabled-opacity;
  cursor: default;
}

input:disabled {
  opacity: $disabled-opacity;
  cursor: default;
}

input {
  all: unset;
  background-color: $bg-0-soft;
  border: $module-border solid $fg-1;
  height: 33px;
  padding-left: $small-padding;
  box-sizing: border-box;
  width: 100%;
}

input[type="password"] {
  letter-spacing: 5px;
  font-size: $password-font-size;
}

input:focus {
  outline: $focus-outline;
}

.switch:focus {
  outline: $focus-outline;
}

select {
  font-size: $small-font-size;
  padding-left: $smaller-padding;
  height: 33px;
  cursor: pointer;
}

select:focus {
  outline: $focus-outline;
}

a {
  color: $accent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: $padding;
}
