$bg: #282828; // actual background
$fg: #ebdbb2; // text
$fg-1: #a89984; // light borders
$fg-3: #bdae93;
$bg-0: #1d2021; // panel bg
$bg-0-soft: #32302f; // umm like textboxes and stuff
$bg-1: #3c3836;
$bg-2: #504945; // border
$bg-3: #665c54; // border text
$bg-4: #7c6f64; // placeholder text
$accent: #458588;

$disabled-opacity: 60%;

$transition-duration: 200ms;

$font: "JetBrains Mono", monospace;
$header-size: 22px;
$font-size: 16px;
$small-font-size: 14px;
$password-font-size: 12px;

$padding: 13px;
$small-padding: 10px; // textarea placeholder
$smaller-padding: 5px;
$top-padding: 3px;

$module-width: 450px;
$module-border: 2px;
$module-text-pad: 10px;
$module-text-left: 30px;
$module-text-top: 2px;

$focus-outline: $module-border solid $accent;
$drag-border: $module-border dashed $accent;
